.section-2{
    width: 100%;
    background-image: url(./images/hero-bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.section-2-image{
    padding: 60px 60px 150px;
    max-width: 1440px;
    text-align: center;
}

hr{
    opacity: 0.3;
}

@media screen and (max-width: 767px){
.section-2{
background-size: contain;
background-position-y: 280px;
}

.section-2-image{
    padding: 250px 24px 24px;
}

    .section-2-image img{
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1028px){
.section-2-image{
    padding: 0 30px 30px;
}

    .section-2-image img{
        width: 100%;
    }
}